#consultAchievementssChart {
  width: 100%;
  margin-left: -20px;
  height: 260px;
}
.consultAchievementssDiv .el-date-editor--daterange {
  width: 300px;
}
.consultAchievementssDiv .el-range-separator {
  z-index: 100;
}
.consultAchievementssDiv .searchDiv {
  padding: 15px 0 5px;
}
.consultAchievementssDiv .searchDiv .dateWrapper .el-button {
    position: relative;
    left: -7px;
    padding: 10px 5px;
    font-size: 14px;
    border-radius: 0 4px 4px 0;
    background: #1dace6;
}
.consultAchievementssDiv .searchDiv .el-tabs__item {
    font-size: 20px;
}
.consultAchievementssDiv .searchDiv .is-active {
    font-weight: 600;
    color: #1dace6;
}
.consultAchievementssDiv .searchDiv .el-tabs__item:hover {
    color: #1dace6;
}
.consultAchievementssDiv .searchDiv .el-tabs__active-bar {
    height: 3px;
    background: #1dace6;
}

