.riskSourceReportDialog .blankClass[data-v-0e577d2a] {
  margin-top: 15px;
  margin-bottom: 20px;
}
.riskSourceReportDialog .headTitle[data-v-0e577d2a] {
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.riskSourceReportDialog .subTitle[data-v-0e577d2a] {
  font-size: 24px;
  height: 30px;
  margin-bottom: 15px;
}



























































































































.el-form-item__label {
  padding: 0 5px 0 0;
}

