.fullLinePlanListDiv {
  overflow: auto;
  width: 360px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.1);
}
.fullLinePlanListDiv .searchDiv {
    padding: 0px 10px;
}
.fullLinePlanListDiv .searchDiv .el-input {
      width: auto !important;
}
.fullLinePlanListDiv .searchDiv .el-button {
      margin-left: 5px;
}
.fullLinePlanListDiv .contentDiv:hover .icon {
    display: block;
}
.fullLinePlanListDiv .contentDiv {
    margin-top: 10px;
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 122px;
    padding: 5px;
    background: rgba(184, 184, 184, 0.1);
    cursor: pointer;
    border-radius: 5px;
}
.fullLinePlanListDiv .contentDiv .icon {
      /*color: #fff;*/
      cursor: pointer;
      display: none;
}
.fullLinePlanListDiv .contentDiv img {
      width: 113px;
      height: 113px;
      border-radius: 5px;
}
.fullLinePlanListDiv .contentDiv label {
      margin-left: 10px;
      color: #fff;
}

