.statisticalDiv[data-v-4962033e] {
  padding: 5px;
}
.statisticalDiv .mL20[data-v-4962033e] {
    margin-left: 20px;
}
.statisticalDiv .bottomDiv[data-v-4962033e] {
    margin-top: 2rem;
}
.statisticalDiv .unitClass[data-v-4962033e] {
    float: right;
}
.statisticalDiv .unitDiv[data-v-4962033e] {
    position: absolute;
    right: 3%;
}

