.staticPlanHistoryDiv .search-item {
  height: 60px;
  margin-right: 15px;
}
.staticPlanHistoryDiv .labelTwo {
  font-weight: 700;
  font-size: 15px;
  color: #606266;
  margin-right: 5px;
}
.staticPlanHistoryDiv .iconbanbenduibi {
  font-size: 21px !important;
}

