.bpmn-approve .headTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.bpmn-approve .flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.bpmn-approve .flex-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.bpmn-approve .btns {
  padding: 10px;
}
.bpmn-approve .dataTable {
  margin-top: 20px;
}
.bpmn-approve .iconbanli {
  font-size: 22px;
  position: relative;
  padding-right: 5px;
  top: -1px;
  left: 4px;
}

