.iconxiazai2[data-v-34f8f07e] {
  font-size: 20px;
  color: #333;
  margin-right: 2px;
}
.iconxiazai2[data-v-34f8f07e]:hover {
    color: #af1818;
}

.maright {
  margin-right: 20px;
}
.editTitleDialog .el-dialog {
  margin-top: 8vh !important;
}

