



























































































.w50[data-v-42388ee4] {
  width: 50%;
}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td[data-v-42388ee4],
.el-table__body tr.current-row > td[data-v-42388ee4] {
  color: red;
  background-color: red !important;
}
.el-table tbody tr:hover > td[data-v-42388ee4] {
  background-color: red !important;
}

