.goodsListDiv .iconshanchu {
  font-size: 16px !important;
  position: relative;
  top: -4px;
  left: 4px;
}
.goodsListDiv .dataTable {
  margin-top: 10px;
}
.goodsListDiv .item2 {
  width: 320px;
}
.goodsListDiv .item2 .el-select {
    width: 320px;
}
.goodsListDiv .item2 .el-select .el-input {
      width: 320px;
}

