.BIMReportListDiv .header {
  margin-bottom: 20px;
}
.BIMReportListDiv .titleSpan {
  border-left: 3px solid #1cade4;
  padding-left: 8px;
  line-height: 14px;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
}
.BIMReportListDiv .icontongguo {
  font-size: 21px !important;
  position: relative;
  left: 4px;
  top: -1px;
}

.reportDialog .el-dialog {
  margin-top: 4vh !important;
  width: 1200px !important;
}
.reportDialog .headTitle, .reportDialog .subTitle {
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
}
.reportDialog .baseInfoDiv span:nth-child(odd) {
  margin-right: 16px;
}
.reportDialog .baseInfoDiv span:nth-child(even) {
  margin-right: 90px;
}
.reportDialog .report-form-item-title {
  font-weight: bold;
  display: inline-block;
  margin: 16px 0 8px;
}
.reportDialog .textarea {
  text-indent: 2em;
  line-height: 23px;
}

.BIMReportDiv .el-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.BIMReportDiv .el-row .leftCard {
    width: 60%;
    min-width: 850px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    -webkit-transition: 0s;
    transition: 0s;
}
.BIMReportDiv .el-row .rightCard {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-left: 10px;
    overflow: auto;
}

