.el-tree[data-v-43a89c16] {
  overflow: auto;
}




























































































































.drawingFilesDialog .container[data-v-a8e08c7c] {
  overflow-y: auto;
}

.scheduleAndPlanDiv h3 {
  margin: 0;
  padding: 0;
}
.scheduleAndPlanDiv .box-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.scheduleAndPlanDiv .box-card-wrapper .leftCard {
    width: 20%;
    overflow: hidden;
    position: relative;
    -webkit-transition: 0s;
    transition: 0s;
}
.scheduleAndPlanDiv .box-card-wrapper .rightCard {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    margin-left: 10px;
}
.scheduleAndPlanDiv .box-card-wrapper .rightCard .el-table .el-table__body-wrapper {
      overflow: auto;
}
.scheduleAndPlanDiv .box-card-wrapper .rightCard .timeClass {
      margin: 15px 0px 13px 0px;
}
.scheduleAndPlanDiv .box-card-wrapper .rightCard .margin20 {
      margin-left: 20px;
}
.scheduleAndPlanDiv .box-card-wrapper .rightCard .formStyle {
      width: 160px;
      /*margin-left: 100px;*/
      margin-right: 15px;
      /*<!--width: cc(100%-100px);-->*/
}
.scheduleAndPlanDiv .box-card-wrapper .rightCard .labelClass {
      font-size: 15px;
}
.scheduleAndPlanDiv .box-card-wrapper .resize-line {
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    right: 0;
}
.scheduleAndPlanDiv .box-card-wrapper .resize-line:hover {
      border-right: 1px dashed #ccc;
      cursor: e-resize;
}
.scheduleAndPlanDiv .leftRight {
  text-align: justify;
}
.scheduleAndPlanDiv .errorStyle {
  margin: 15px 0;
  text-align: center;
}

