.QBSTemplateDiv .myTreeTable[data-v-bd2feaee] {
  margin-top: 50px;
}
.QBSTemplateDiv .el-date-editor.el-input[data-v-bd2feaee],
.QBSTemplateDiv .el-date-editor.el-input__inner[data-v-bd2feaee] {
  width: 100%;
}
.QBSTemplateDiv .el-col-12[data-v-bd2feaee] {
  height: 50px;
}

