.bigDataSearch .clusterize {
  position: relative;
}
.bigDataSearch .clusterize-scroll {
  padding: 10px;
  /*position: absolute;*/
  width: 100%;
  top: 28px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  background: white;
  height: 300px;
  overflow: auto;
  background: white;
  border: 1px #eee solid;
}
.bigDataSearch .clusterize-no-data {
  background: white;
}
.bigDataSearch .iconguanbi-wrapper {
  margin-top: 3px;
  height: 30px;
  position: absolute;
  z-index: 1000000000;
  width: 100%;
  background: white;
  border: 1px #eee solid;
  line-height: 30px;
  padding-right: 4px;
  border-bottom: 0 none;
}
.bigDataSearch .iconguanbi-wrapper .iconguanbi {
    font-size: 10px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    position: relative;
    top: -2px;
}
.bigDataSearch .spanRight {
  margin-top: 10px;
  margin-left: auto;
}

