.modelDialog .width200 {
  width: 200px;
}
.modelDialog .el-button:hover,
.modelDialog .el-button:focus {
  color: #fff !important;
}
.modelDialog .el-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modelDialog .el-checkbox .el-checkbox__label {
    white-space: pre-wrap;
}
.modelDialog .title {
  margin-bottom: 10px;
  display: inline-block;
}
.modelDialog .content {
  width: 50%;
  margin-right: 15px;
}
.modelDialog .content .selectDiv {
    height: 300px;
    border: 1px solid #eee;
    padding: 10px;
    overflow: auto;
}
.modelDialog .spanRight {
  margin-top: 10px;
  margin-left: auto;
}

