


























































































.drawingDialog .path[data-v-3ad764bf] {
  font-size: small;
  font-weight: bold;
}
.drawingDialog .dateWidth[data-v-3ad764bf] {
  width: 100%;
}
.drawingDialog .el-col[data-v-3ad764bf] {
  height: 80px;
}

