.CommandPlanEditDetailDiv .addButtonTow {
  background: #dcdcdc !important;
  border: 1px solid #dcdcdc !important;
  color: black !important;
  margin-right: 10px;
  margin-bottom: 10px;
}
.CommandPlanEditDetailDiv .topDiv {
  height: 40px;
  margin-bottom: 10px;
}
.CommandPlanEditDetailDiv .unitClass {
  float: right;
}
.CommandPlanEditDetailDiv .inlineBlock {
  margin-right: 20px;
}

