.my-tree .custom-tree-node {
  line-height: 40px;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.my-tree .custom-tree-node i {
    color: #e0aa25;
}
.my-tree .custom-tree-node .appendIcon {
    font-size: 20px;
    vertical-align: middle;
}

