.carouselDiv {
  position: relative;
}
.carouselDiv .el-carousel__container {
    position: relative;
    height: 375px !important;
}
.carouselDiv .maskDes {
    background: -webkit-gradient(linear, left top, right top, from(#333333), to(rgba(51, 51, 51, 0)));
    background: linear-gradient(90deg, #333333 0%, rgba(51, 51, 51, 0) 100%);
    width: 100%;
    position: absolute;
    color: white;
    bottom: 0px;
    padding: 10px;
    z-index: 10;
}
.carouselDiv .maskDes .dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fefefe;
      margin-right: 5px;
}
.carouselDiv .maskDes .active {
      width: 20px;
      border-radius: 4px;
      background: #ffffff;
}

