.riskSourceReportDialog .blankClass[data-v-0e577d2a] {
  margin-top: 15px;
  margin-bottom: 20px;
}
.riskSourceReportDialog .headTitle[data-v-0e577d2a] {
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.riskSourceReportDialog .subTitle[data-v-0e577d2a] {
  font-size: 24px;
  height: 30px;
  margin-bottom: 15px;
}

.riskSourceReport .topDiv[data-v-42d426cf] {
  height: 40px;
  margin-bottom: 10px;
}
.riskSourceReport .firstDiv[data-v-42d426cf] {
  margin-bottom: 15px;
}
.riskSourceReport .inlineBlockTime[data-v-42d426cf] {
  width: 500px;
  margin-right: 20px;
}
.riskSourceReport .headTitle[data-v-42d426cf] {
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.riskSourceReport .subTitle[data-v-42d426cf] {
  font-size: 24px;
  height: 30px;
  margin-bottom: 15px;
}
.riskSourceReport .select[data-v-42d426cf] {
  width: 100%;
}

