.auth-info-box[data-v-b6c0d734] {
  width: 330px;
  background: #ffffff;
  border-left: 1px solid #e8eaec;
  -webkit-box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.1);
}
.auth-info-box .authForm[data-v-b6c0d734] {
    margin-top: 30px;
}
.auth-info-box .titleDiv[data-v-b6c0d734] {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.auth-info-box .titleDiv .close[data-v-b6c0d734] {
      z-index: 1;
      font-size: 14px;
      float: right;
      margin-right: 10px;
      color: #999;
      overflow: hidden;
      cursor: pointer;
}
.auth-info-box .titleDiv .title[data-v-b6c0d734] {
      font-size: 16px;
      font-weight: 700;
}
.auth-info-box .titleDiv .el-checkbox[data-v-b6c0d734] {
      width: 80px;
}

