

























































































































.progressSearchDataDiv {
  padding: 0px 10px;
  display: inline-block;
}
.progressSearchDataDiv .searchTop {
    border-bottom: solid #ccc 1px;
}

