@-webkit-keyframes rotating /* Safari and Chrome */ {
from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
@keyframes rotating {
from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
  position: absolute;
}
.fullLineModelListTree .sceneListDiv {
  overflow: auto;
  z-index: 999;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
  width: 370px;
  font-size: 14px;
  position: absolute;
  background: rgba(255, 255, 255, 0.8) !important;
}
.fullLineModelListTree .sceneListDiv .actived {
    color: #0e64a0;
}
.fullLineModelListTree .sceneListDiv .flex {
    margin-bottom: 8px;
}
.fullLineModelListTree .sceneListDiv .flex .lLabel {
      width: 340px;
}
.fullLineModelListTree .sceneListDiv .flex .rLabel {
      cursor: pointer;
      font-size: 12px;
      width: 40px;
      text-decoration: underline;
      color: #0e64a0;
}
.fullLineModelListTree .filterInput {
  position: absolute;
  z-index: 999;
  width: 370px;
  margin-top: 10px;
  margin-left: 10px;
}
.fullLineModelListTree .filterInput #filterInput {
    color: #2D4573;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #cfdbe0;
    border-radius: 2px;
}

