.inspectionValuationDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inspectionValuationDiv .green {
    color: green !important;
}
.inspectionValuationDiv .gray {
    color: #cccccc !important;
}
.inspectionValuationDiv .exportIcon {
    font-size: 20px !important;
}
.inspectionValuationDiv .leftCard {
    width: 300px;
    overflow: auto;
}
.inspectionValuationDiv .rightCard {
    margin-left: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.inspectionValuationDiv .rightCard .el-row {
      margin: 15px 0px;
}

