.fulllineAttributeDiv {
  overflow: auto;
  width: 360px;
  margin-top: 10px;
  background: rgba(26, 26, 26, 0.8);
  /*border-left: 1px solid #e8eaec;*/
  -webkit-box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.1);
}
.fulllineAttributeDiv .el-input input {
    /*background: rgba(0, 0, 0, 0);*/
    /*border: 1px solid #d0d0d0;*/
    /*color: #fff;*/
}
.fulllineAttributeDiv .btn {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    background-color: inherit;
    color: #f75223;
    border-color: #f75223;
}
.fulllineAttributeDiv .icon {
    font-size: 30px;
    margin-top: 20px;
    /*color: #fff;*/
    margin-left: 5px;
}
.fulllineAttributeDiv .el-collapse-item .is-active {
    color: #1CADE4 !important;
}
.fulllineAttributeDiv .el-collapse-item__header {
    background: rgba(0, 0, 0, 0);
    /*color: #fff;*/
    padding-left: 10px;
}
.fulllineAttributeDiv .el-collapse-item__wrap {
    background: rgba(0, 0, 0, 0);
    padding: 0px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.fulllineAttributeDiv .el-collapse-item__wrap .el-collapse-item__content {
      /*color: #fff;*/
}
.fulllineAttributeDiv .noLabel {
    display: block;
    /*color: #fff;*/
    margin-left: 10px;
}

