.attributeDiv {
  overflow: auto;
  width: 360px;
  margin-top: 10px;
  /*background: rgba(26, 26, 26, 0.8);*/
  /*border-left: 1px solid #e8eaec;*/
  /*box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.1);*/
}
.attributeDiv .el-collapse-item .is-active {
    color: #1CADE4 !important;
}
.attributeDiv .el-collapse-item__header {
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}
.attributeDiv .el-collapse-item__wrap {
    background: rgba(0, 0, 0, 0);
    padding: 0px 10px;
}
.attributeDiv .el-collapse-item__wrap .el-collapse-item__content {
      color: rgba(0, 0, 0, 0.5);
}
.attributeDiv .noLabel {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.bimPreviewNewDiv[data-v-52b82060] {
  height: 100%;
}

