.lookFileDialog .el-dialog {
  margin-top: 1% !important;
  border-radius: 5px;
  height: 96%;
  width: 98%;
}
.lookFileDialog .el-dialog__body {
  height: calc(100% - 50px);
}
.fileIframe {
  /*----------------------------*/
}
.fileIframe ::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
.fileIframe ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.fileIframe ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.fileIframe ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
.fileIframe ::-webkit-scrollbar-track,
  .fileIframe ::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}
.fileIframe ::-webkit-scrollbar-track {
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) inset;
}
.fileIframe ::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}
.fileIframe ::-webkit-scrollbar-corner {
    background: transparent;
}

.startReportDiv .iconfujian {
  font-size: 20px !important;
  position: relative;
  top: -2px;
  left: 2px;
}
.startReportDiv .iconicon- {
  font-size: 20px !important;
  position: relative;
  top: -2px;
  left: 2px;
}

