.el-tree[data-v-f94ec82e] {
  overflow: auto;
}

.industryReviewDiv .path[data-v-bddcd1fe] {
  font-size: small;
  font-weight: bold;
}
.industryReviewDiv .margin20[data-v-bddcd1fe] {
  margin: 20px 0px;
}
.industryReviewDiv .formStyle[data-v-bddcd1fe] {
  margin-right: 15px;
  width: 200px;
}
.industryReviewDiv .labelClass[data-v-bddcd1fe] {
  font-size: 15px;
}

