.safeTopRightDiv {
  overflow: auto;
  width: 384px;
  background-image: url(../../static/img/leftImg.1985e75.png);
  background-repeat: no-repeat;
  background-color: #bed8ed;
  -webkit-box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.1);
}
.safeTopRightDiv .topViewPointWrapper {
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 15px;
}
.safeTopRightDiv .innerWrapper {
    padding: 10px 10px;
}
.safeTopRightDiv .marginB10 {
    margin-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.safeTopRightDiv .marginL5 {
    margin-left: 5px;
}
.fullLineSafeManageDiv {
  padding: 0px 10px;
}
.fullLineSafeManageDiv .el-date-editor.el-input,
  .fullLineSafeManageDiv .el-date-editor.el-input__inner {
    width: 100%;
}

