




















































































































































































































.drawingDialog .path[data-v-28cf3000] {
  font-size: small;
  font-weight: bold;
}
.drawingDialog .dateWidth[data-v-28cf3000] {
  width: 100%;
}

