.homeInfoDiv .iconxinwen {
  color: #1cade4;
  font-size: 20px;
  margin-right: 5px;
}
.homeInfoDiv .header {
  height: 40px;
  margin-top: 30px;
  border-bottom: 1px #ececec solid;
}
.homeInfoDiv .header .more {
    font-size: 12px;
    color: #1cade4;
}
.homeInfoDiv .active {
  color: #1cade4;
  font-size: 20px;
  font-weight: bold;
}
.homeInfoDiv .no-data {
  text-align: center;
  margin-top: 20vh;
  color: #ccc;
}
.homeInfoDiv .menuTab {
  font-size: 16px;
}
.homeInfoDiv .menuTab span {
    margin-left: 5px;
    margin-right: 5px;
    color: #ccc;
}
.homeInfoDiv .card-content-item .nameDiv {
  cursor: pointer;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.homeInfoDiv .card-content-item .nameDiv:hover {
  color: #1cade4 !important;
}
.homeInfoDiv .card-content-item .iconfujian {
  margin-right: 2px;
}
.homeInfoDiv .card-content-item .iconfujian:hover {
    color: #af1818;
}
.homeInfoDiv .card-content-item .iconxiazai2 {
  font-size: 20px;
  color: #333;
  margin-right: 2px;
}
.homeInfoDiv .card-content-item .iconxiazai2:hover {
    color: #af1818;
}
.homeInfoDiv .card-content-item .time {
  width: 120px;
  text-align: right;
}

