.statisticalStatementDeatilDiv .inlineBlock[data-v-3d95492a] {
  margin-right: 20px;
}
.statisticalStatementDeatilDiv .addButtonTow[data-v-3d95492a] {
  background: #dcdcdc !important;
  border: 1px solid #dcdcdc !important;
  color: black !important;
  margin-right: 10px;
}
.statisticalStatementDeatilDiv .mb20[data-v-3d95492a] {
  margin-bottom: 20px;
}
.statisticalStatementDeatilDiv .unitClass[data-v-3d95492a] {
  float: right;
}

