.el-tree[data-v-43a89c16] {
  overflow: auto;
}

.dp_commentsDiv .searchClass {
  margin: 15px 0px 13px 0px;
}
.dp_commentsDiv .formStyle {
  width: 160px;
  margin-right: 15px;
}
.dp_commentsDiv h3 {
  margin: 0;
  padding: 0;
}
.dp_commentsDiv .box-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dp_commentsDiv .box-card-wrapper .leftCard {
    width: 20%;
    /*flex: 1;*/
}
.dp_commentsDiv .box-card-wrapper .rightCard {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    margin-left: 10px;
}
.dp_commentsDiv .box-card-wrapper .rightCard .el-table .el-table__body-wrapper {
      overflow: auto;
}

