






















































































































.MBSDiv .myTreeTable {
  margin-top: 50px;
}
.MBSDiv .el-date-editor.el-input,
.MBSDiv .el-date-editor.el-input__inner {
  width: 100%;
}
.MBSDiv .el-col-12 {
  height: 50px;
}
.modelPreviewDialog .el-dialog {
  margin-top: 5vh !important;
}

