.rightCardTableDiv {
  margin-top: 15px;
  height: 140px;
  background: #ecf2fe;
  border-radius: 8px;
  padding: 8px 20px;
}
.rightCardTableDiv .card {
    margin-bottom: 6px;
}
.rightCardTableDiv .name {
    height: 26px;
    line-height: 26px;
    background: #dae4fd;
    color: #4993ea;
    text-align: center;
    font-weight: bold;
    padding: 0 4px;
    margin-right: 15px;
    cursor: default;
}
.rightCardTableDiv .text {
    margin-right: 2px;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}
.rightCardTableDiv .value {
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    line-height: 20px;
    color: #333333;
}
.rightCardTableDiv .text-overflow {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

